/* 

COLORS:
------------------------
#12274B → Dark Navy Blue
#1468B1 → Royal Blue
#2A7ABF → Medium Blue
#4C97D2 → Sky Blue
#D0DEDF → Pale Blue Gray

FONTS:
------------------------
Bricolage Grotesque

*/

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

/* 
  CSS Reset
  -----------------------------------
  A couple of resets to remove default browser styling
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

/* 
  Global Styles
  -----------------------------------
  Site-wide styles
*/

body {
    background: #12274B;
}

header {
    background: #12274B;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo, header .logo a, header .logo a img {
    width: 100px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: auto;
}

header nav ul li {
    margin: 0 10pt;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16pt;
}

header nav ul li a:hover {
    color: #4C97D2;
    text-decoration: none;
}

.separator {
    /* cambiar tamaño al caracter unicode */
    font-size: 16pt;
}

main {
    background-color: #12274B;
}

main hr {
    border: 1px solid #fff;
    margin: 0;
}

main section {
    padding: 3rem 0;
    color: #fff;
}

.quote h1 {
    font-size: 64pt;
}

.quote h2 {
    font-size: 80pt;
    color: #4C97D2;
    padding: 1rem;
    font-weight: bold;
}

#about-us h2 {
    font-size: 32pt;
    text-transform: uppercase;
}

#about-us div div img, #contact div div img {
    width: 100%;
}

.card {
    width: calc(33.33% - 0.5rem);
    background: #2A7ABF;
    color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.card:first-child {
    margin-right: 0.5rem;
}

.card:nth-child(2) {
    margin: 1rem 0.5rem;
}

.card:last-child {
    margin-left: 0.5rem;
}

#contact div div ul {
    list-style: none;
}

#about-us h2, #our-vision h2, #contact div div h2 {
    font-size: 32pt;
    font-weight: bold;
    text-transform: uppercase;
}

#about-us p, #our-vision p, #contact div div p {
    font-size: 16pt;
}

#about-us a, #our-vision a, #contact div div a {
    font-size: 16pt;
    margin-bottom: 2rem;
    font-weight: bold;
}

footer {
  background: #D0DEDF;
  padding: 1rem;
  color: #5b5b5b;
}

.footer-top {
    display: flex;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #bbb;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: auto;
}

.footer-bottom nav ul li {
    margin-right: 1.25rem;
}

.footer-bottom nav ul li a {
    color: #5b5b5b;
    text-decoration: none;
}

.footer-bottom nav ul li a:hover {
    color: #4C97D2;
    text-decoration: none;
}

.footer-bottom article {
    color: #5b5b5b;
}

.footer-bottom article a {
    color: #5b5b5b;
    text-decoration: none;
    margin-right: 1.25rem;
}

.btn-whatsapp {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
}

section p {
    font-size: 16pt;
}

.btn-primary {
    background-color: transparent;
    border-color: #4C97D2;
    border-radius: 5pt;
    font-size: 16pt;
}

.btn-primary:hover {
    background-color: #4C97D2;
    color: #fff;
}

.contact-menu {
    font-size: 16pt;
}

/* services */
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width:45vw;
    height:45vw;
    padding:6rem;
    margin: auto;
    text-align:center;
}

.dark {
    background:#12274B;
}

.light {
    background:#fff;
}

.dark p {
    color:#fff;
    font-size:2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.light p {
    color:#12274B;
    font-size:16pt;
}

.tile p {
    margin-bottom: 0;
}

/* Tablet */
@media (max-width: 768px) {
    #quote h1 {
        font-size: 48pt;
    }

    #quote h2 {
        font-size: 64pt;
    }

    #about-us div, #contact div {
        flex-direction: column;
        align-items: center;
    }

    #about-us div div, #contact div div {
        max-width: 100%;
    }

    #contact div div img {
        margin-bottom: 2rem;
    }

    .contact-menu {
        margin-bottom: 0;
    }

    .tile {
        width: 90vw;
        height: calc(90vw/2);
        padding: 1rem;
    }

    .light p {
        font-size: 1rem;
    }

    .dark p {
        font-size: 2rem;
    }
}

/* Mobile */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .logo {
        margin-bottom: 1rem;
    }

    header nav ul {
        margin-top: 1rem;
    }

    header nav ul li {
        margin-right: 0.5rem;
    }

    main section {
        padding: 2rem 0;
    }

    .quote h1 {
        font-size: 2.5rem;
    }

    .quote h2 {
        font-size: 3.5rem;
    }

    #about-us div div a {
        margin-bottom: 1rem;
    }

    #our-vision {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact div div h2 {
        margin-top: 1rem;
    }

    .card {
        width: 100%;
    }

    .card:first-child, .card:nth-child(2), .card:last-child {
        margin: 1rem 0;
    }

    footer {
        padding: 1rem;
    }

    footer .footer-top {
        height: 3rem;
    }

    footer .footer-bottom {
        flex-direction: column;
    }

    footer .footer-bottom nav ul {
        margin-top: 1rem;
    }

    footer .footer-bottom nav ul li {
        margin-right: 0.5rem;
    }

    footer .footer-bottom article {
        margin-top: 1rem;
    }

    .btn-whatsapp {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }

    .light p {
        font-size: 0.75rem;
    }

    .dark p {
        font-size: 1rem;
    }

    header nav ul li {
        margin: 0 8pt;
    }

    header nav ul li a {
        font-size: 12pt;
    }

    .quote h1 {
        font-size: 24pt;
    }

    .quote h2 {
        font-size: 32pt;
    }

    #about-us h2, #our-vision h2, #contact div div h2 {
        font-size: 24pt;
    }

    #about-us p, #our-vision p, #contact div div p {
        font-size: 12pt;
    }

    #about-us a, #our-vision a, #contact div div a {
        font-size: 12pt;
    }

    .contact-menu {
        margin-bottom: 0;
    }

    .contact-menu li {
        font-size: 12pt;
    }

    footer {
        padding: 15px;
    }

    footer section {
        padding: 0 !important;
    }

    footer section p, footer section nav ul li a {
        font-size: 11pt;
    }

    footer section nav ul li {
        margin-right: 2pt;
    }
}

/* Mobile M */
@media (max-width: 375px) {
    header nav ul li {
        margin: 0 4pt;
    }
}

/* Mobile S */
@media (max-width: 320px) {
    header nav ul li {
        margin: 0 2pt;
    }
}

